@import url(crieSuaLegiao.css);

header {
    background: url(../../../pictures/background.png) center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 37.970625vw;
  }
  
 .containerOne {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
 .kylon {
    width: 62vw;
    position: absolute;
    z-index: 1;
    left: 46%;
    transform: translate(-50%);
  }
  
 .Star {
    width: 20vw;
    position: absolute;
    left: 23.6%;
    top: 55%;
  }
  
 .Star img {
    width: 100%;
  }
  
 .Wars {
    width: 20vw;
    position: absolute;
    top: 55%;
    right: 16.2vw;
  }
  
.Wars img {
    width: 100%;
  }
  
