.estruturaDeJogoContainer {
    display: flex;
    justify-content: center;
  }
  
  .DarthMaul img {
    width: 40vw;
    height: auto;
    position: relative;
    top: 52px;
    left: 151px;
  }
  
  .estruturaDeJogoList {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 4.25vw;
    top: 129px;
  }

  .estruturaDeJogoTitle {
    font-size: 45px;
    padding-bottom: 1.5vw;
    text-align: right;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    line-height: 1;
  }
  
  .estruturaDeJogoTitle h2 span {
    font-weight: 800;
    font-family: "Poppins", sans-serif;
  }

  .estruturaDeJogoList ul {
    text-transform: uppercase;
    font-size: 23px;
    gap: 1.25vw;
  }
  
  .estruturaDeJogoList ul li {
    list-style-type: none;
    width: 450px;
    text-align: end;
    padding-right: 10px;
  }
  
  .estruturaDeJogoList ul li:hover {
    cursor: pointer;
    background-color: #d74430;
    border: solid none;
    color: white;
  }
  
  .estruturaDeJogoTitle,
  .estruturaDeJogoList ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .ReynonSkywalker img {
    width: 20.5vw;
    height: auto;
    position: relative;
    top: 75px;
  }

  
  @media (min-width: 375px) and (max-width: 480px) {
    .estruturaDeJogoContainer{
      position: relative;
      
    }
  
    .DarthMaul img {
      padding-top: 10px;
      left: 0;
      top: 0;
      margin-right: 50px;
    }

    .ReynonSkywalker {
      margin-left: -15px;
    }

    .ReynonSkywalker img {
      top: 0;
      padding-top: 10px;
    }

    .estruturaDeJogoList {
      top: 0;
 
    }

    .estruturaDeJogoTitle {
    
      font-size: 20px;
      margin-right: 0px;
    }
    .estruturaDeJogoList ul {
      font-size: 11px;
      width: 110px;
     
    }

    .estruturaDeJogoList ul li {
      padding-right: 0;
    }
}
  