.atributos_galeria {
    display: flex;
    justify-content: center;
  }

  
  .lineTop {
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    border-top: 2px solid white;
    border-left: 2px solid white;
    top: 4.5%;
    left: 4.5%;
  }
  
  .lineBottom {
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    bottom: 5.2%;
    right: 4.5%;
  }
  
  .image_effect {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgba(164, 61, 47, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    padding: 9%;
  }
  
  .image_effect h2 {
    text-transform: uppercase;
    color: white;
    width: 2%;
  }
  
  .image_effect p {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .cardImage h2 {
    font-size: 1vw;
  }
  
  .cardImage p {
    font-size: 0.675vw;
  }
  
  .image_effect  button {
    position: relative;
    width: 30%;
    padding: 8px 16px;
    background-color: transparent;
    border: 2px solid rgb(253, 253, 253);
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }
  
  .cardImage button {
    width: 36%;
  }
  
  .image_effect  button::after {
    content: "";
    position: absolute;
    width: 10vw;
    height: 10vw;
    background-color: white;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 0 0 25% 25%;
    transition: 0.5s ease-in;
    z-index: -1;
  }
  
  .image_effect  button:hover::after {
    transform: translate(-50%, 100%);
  }
  
  .image_effect  button:hover {
    color: black;
  }
  
  .box-primeiraImg:hover .image_effect  {
    transform: scale(1.1);
    opacity: 1;
  }
  
  .cardImage {
    position: relative;
    width: 20vw;
  }
  
  .cardImage img {
    width: 100%;
  }
  
  .cardImage:hover .image_effect {
    transform: scale(1.1);
    opacity: 1;
  }
  

  @media (min-width: 375px) and (max-width: 481px) {
    .atributos_galeria {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
    }

    .cardImage {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }

  
   }